<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Event</title>
    <!-- Dodanie Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <!-- Sekcja komunikatów -->
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div>
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}

        <h1>Book Event</h1>

        <form method="post">
            <div class="form-group">
                <label for="event_id">Wydarzenie:</label>
                <select id="event_id" name="event_id" class="form-control">
                    {% for event in events %}
                        <option value="{{ event.EventID }}">{{ event.NazwaWydarzenia }} - {{ event.Data }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="znizka_id">Znizka ID (opcjonalne):</label>
                <input type="text" id="znizka_id" name="znizka_id" class="form-control">
            </div>
            <button type="submit" class="btn btn-primary">Book</button>
        </form>
    </div>
    <!-- Dodanie Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
