{% extends "base.html" %}

{% block title %}Filter Events{% endblock %}

{% block content %}
    <div class="starter-template">
        <h1>Filter Events</h1>
        <form method="POST">
            <div class="form-group">
                <label for="category">Kategoria:</label>
                <select class="form-control" id="category" name="category" required>
                    {% for category in categories %}
                        <option value="{{ category.NazwaKategorii }}">{{ category.NazwaKategorii }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="city">Miasto:</label>
                <input type="text" class="form-control" id="city" name="city">
            </div>
            <div class="form-group">
                <label for="date_from">Data od:</label>
                <input type="date" class="form-control" id="date_from" name="date_from" required>
            </div>
            <div class="form-group">
                <label for="date_to">Data do:</label>
                <input type="date" class="form-control" id="date_to" name="date_to" required>
            </div>
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="available_only" name="available_only">
                <label class="form-check-label" for="available_only">Tylko dostępne miejsca</label>
            </div>
            <button type="submit" class="btn btn-primary">Filter</button>
        </form>

        {% if events %}
            <h2>Filtered Events</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th>Nazwa</th>
                        <th>Data</th>
                        <th>Miasto</th>
                        <th>Kraj</th>
                        <th>Opis</th>
                        <th>Dostępne Miejsca</th>
                    </tr>
                </thead>
                <tbody>
                    {% for event in events %}
                    <tr>
                        <td>{{ event.NazwaWydarzenia }}</td>
                        <td>{{ event.Data }}</td>
                        <td>{{ event.Miasto }}</td>
                        <td>{{ event.Kraj }}</td>
                        <td>{{ event.Opis }}</td>
                        <td>{{ event.DostepneMiejsca }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>
{% endblock %}
